
<section class="center">
  <img src="https://i.imgur.com/az6PveZ.jpg" class="img-fluid" alt="Bandit Logo">
</section>


<section class="card text-center card-image">
  <div class="card-body">
    <h5 class="card-title">Start Trading</h5>
      <p class="card-text">Have glorious garbage you want to trade for better, more glorious garbage?</p>
    <%= link_to "Browse Products", products_path, class: "btn btn-primary booton" %>
  </div>
</section>

<section class="card text-center">
  <div class="card-header fancy-header">
  <h5 class="card-title">Today's Hottest Garbage</h5>
  </div>
  <div class="card-body">
    <p class="card-text">A preview of our most coveted finds</p>
  </div>
</section>



<section class="card-columns">
  <div class="card">
    <img src="https://i.imgur.com/CGm0vFg.jpg" class="card-img-top" alt="...">
    <div class="card-body text-center">
    <p class="card-text">Corn cob,Very exciting! Has most of kernals and is good and crisp!</p>
    <p class="card-text">Eggshells: $9, Quantity: 40</p>
    </div>
  </div>

  <div class="card">
  <img src="https://i.imgur.com/jbg9AzI.jpg" class="card-img-top" alt="...">
  <div class="card-body text-center">
  <p class="card-text">Inclues three banana (size 6 gobbles) as well as peanut butter swipe and half an egg shell. Very satisfying!</p>
  <p class="card-text">Eggshells: $9, Quantity: 40</p>
  </div>
</div>


<div class="card">
<img src="https://i.imgur.com/Si1R1jK.jpg" class="card-img-top" alt="Raccoon biting whole egg">
<div class="card-body text-center">
<p class="card-text">Really great smooth and unbroken egg. Ready for a smash!!</p>
<p class="card-text">Eggshells: $9, Quantity: 40</p>
</div>
</div>

<div class="card">
<img src="https://i.imgur.com/3cEwmVL.jpg" class="card-img-top" alt="...">
<div class="card-body text-center">
<p class="card-text">Includes kibble one cheese nub and nice stale fig newtons "</p>
<p class="card-text">Eggshells: $9, Quantity: 40</p>
</div>
</div>

<div class="card">
<img src="https://i.imgur.com/VpphxxM.jpg" class="card-img-top" alt="...">
<div class="card-body text-center">
<p class="card-text">Will have to fight for it but a delicious combination of peels with seeds and hunks of fruit.</p>
<p class="card-text">Eggshells: $9, Quantity: 40</p>
</div>
</div>

<div class="card">
<img src="https://i.imgur.com/R98xU8G.jpg" class="card-img-top" alt="...">
<div class="card-body text-center">
<p class="card-text">Spectacular and savory gourd hunk. Bonus baby toy.</p>
<p class="card-text">Eggshells: $9, Quantity: 40</p>
</div>
</div>
</section>

