
<section class="center">
  <img src="https://i.imgur.com/az6PveZ.jpg" class="img-fluid" alt="Bandit Logo">
</section>


<section class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Start Trading</h5>
      <p class="card-text">Have glorious garbage you want to trade for better, more glorious garbage?</p>
    <a href="#" class="btn btn-primary booton">Browse Products</a>
  </div>
</section>

<section class="card-columns">
  <div class="card">
    <img src="https://i.imgur.com/az6PveZ.jpg" class="card-img-top" alt="...">
    <div class="card-body text-center">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <p class="card-text">Eggshells: $9, Quantity: 40</p>
    </div>
  </div>

  <div class="card">
  <img src="https://i.imgur.com/az6PveZ.jpg" class="card-img-top" alt="...">
  <div class="card-body text-center">
  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  <p class="card-text">Eggshells: $9, Quantity: 40</p>
  </div>
</div>


<div class="card">
<img src="https://i.imgur.com/az6PveZ.jpg" class="card-img-top" alt="...">
<div class="card-body text-center">
<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
<p class="card-text">Eggshells: $9, Quantity: 40</p>
</div>
</div>

<div class="card">
<img src="https://i.imgur.com/az6PveZ.jpg" class="card-img-top" alt="...">
<div class="card-body text-center">
<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
<p class="card-text">Eggshells: $9, Quantity: 40</p>
</div>
</div>

<div class="card">
<img src="https://i.imgur.com/az6PveZ.jpg" class="card-img-top" alt="...">
<div class="card-body text-center">
<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
<p class="card-text">Eggshells: $9, Quantity: 40</p>
</div>
</div>

<div class="card">
<img src="https://i.imgur.com/az6PveZ.jpg" class="card-img-top" alt="...">
<div class="card-body text-center">
<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
<p class="card-text">Eggshells: $9, Quantity: 40</p>
</div>
</div>
</section>