<main class="content-container">
<h2>
    Merchant Summary <%= "#{(Merchant.find_by(id: session[:merchant_id]).username)}"%>
</h2>

<p><%= "Joined site #{(Merchant.find_by(id: session[:merchant_id]).created_at)}" %></p>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="#home" class="nav-link active" data-toggle="tab">Total Orders</a>
    </li>
    <li class="nav-item">
        <a href="#profile" class="nav-link" data-toggle="tab">Completed Orders</a>
    </li>
    <li class="nav-item">
        <a href="#messages" class="nav-link" data-toggle="tab">Pending Orders</a>
    </li>
    <li class="nav-item">
        <a href="#messages" class="nav-link" data-toggle="tab">Cancelled Orders</a>
    </li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade show active" id="total">
    <ul>
      <% @all_orders.each do |order| %>
        <li><%= order %></li> 
          <ul>
          <% order.order_items.each do |item| %>
            <li><%= item %></li>
          <% end %>
          </ul>
      <% end %>
     </ul>
  </div>

</div>
    <div class="tab-pane fade" id="profile">
        <p>Profile tab content ...</p>
    </div>
    <div class="tab-pane fade" id="messages">
        <p>Messages tab content ...</p>
    </div>
</div>

