// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
    width: 100%;
    object-fit: cover;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 .show-picture {
     width: 50%
 }

 .container {
     max-width: 50%;
     margin-top: 2em;
     padding: 1em;
 }

 .page-header {
     margin-top: 3em;
     text-align: center;

 }

 .card-title {
     display: inline-block;
     padding-top: 1em;
     padding-right: .5em;
     text-decoration: underline;
 }

 .card-text {
     padding-bottom:  1rem;
 }


