
<section class="page-header">
<h2>Create New Product</h2>
<small>Name and category required</small>
</section>

<section class="container max-width 50%"
<%= render partial: "form", locals: {submit_button_label: "Create New Product", product_form_class: "new-product-form"} %>