<section class="card text-center">
  <div class="card-body card-img">
    <h3 class="card-title"><%= "#product.name"%></h3>
      <p class="card-text"><%= "#product.description"%></p>
  </div>
</section>

